/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/public-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/nunito-sans';

/* Meem Font Family */
@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-ExtraLight.woff2') format('woff2');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-DemiBold.woff2') format('woff2');
  font-weight: 650;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-UltraBold.woff2') format('woff2');
  font-weight: 850;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meem FD';
  src: url('/fonts/meem/MeemFaNum-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/** **************************************
* Plugins

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
